<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <connectionStrings>
    <add name="dbcon"
         connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=FreelancerMarketplaceDB;Integrated Security=True;Connect Timeout=30"
         providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" maxRequestLength="10240" />
    <pages masterPageFile="~/Site.Master" />
  </system.web>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <defaultDocument>
      <files>
        <add value="Home.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>

</configuration>
